.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  /* background-color: rgb(159, 187, 247); */
  background: #f7efef url(news.jpg) 100% 50% repeat;
}
.search {
  background-color: rgb(47, 37, 59);
}

p { 
  color: #f0e7e7; 
 } 

 .jumbotron .h1, .jumbotron h1 {
  color: white;
}

.ReactTable.-striped.-highlight {
  /* width: 1132px; */
  width:auto;
}
.container {
  padding-right: 1px;
  padding-left: 1px;
  margin-right: auto;
  margin-left: auto;
}

.container {
  padding-right: 1px;
  padding-left: 1px;
  margin-right: auto;
  margin-left: auto;
}
.ReactTable .rt-th, .ReactTable .rt-td {
  background-color: darkslategray;
  color: whitesmoke;
}

.btn2{
    display: block;
    float: right;
    margin-bottom: 5px;
   
}
.ReactTable .rt-thead.-header {
  box-shadow: 0 2px 15px 0 rgba(0,0,0,0.15);
  background-color: white;
  font-size: 18px;
  font-family: -webkit-pictograph;
}

/* .App2 {
  text-align: center;
  background: black;
} */
label{
  font-size: 13px;

}